body {
  font-family:Helvetica,Arial,sans-serif;
  font-weight:300;
  font-size:1.1rem;
  color:#454444;
  -webkit-font-smoothing:antialiased;
  background-color: #f9fafc;
}

.nav-img {
  margin-right: 10%;
}

.nav-title a {
  font-weight: bold; 
  color: white;
}

.nav-options a {
  color: white;
}

.card-img {
  max-width: 300px;
  max-height: 300px;
  padding-top: 3%
}

.carousel {
  padding-bottom: 10%;
  padding-top: 3%;
}

.card-deck {
  padding-bottom: 10%;
}

.carousel-img {
  max-width: 1232px;
  max-height: 525px;
}

.card-title {
  font-weight: bold
}